---

- name: Install OpenShift Gitops
  ansible.builtin.include_tasks: openshift_gitops.yml
  when: ibm_quarkus_beginner_workshop_install_openshift_gitops | bool

- name: Install Operators
  ansible.builtin.include_tasks: operators-system.yml

- name: Install Dev Spaces operator
  ansible.builtin.include_tasks: devspaces_operator.yml

- name: Install Devspaces
  ansible.builtin.include_tasks: devspaces.yml

- name: Install Web Terminal operator
  ansible.builtin.include_tasks: webterminal_operator.yml

- name: Patch Web Terminal template
  ansible.builtin.include_tasks: webterminal_image.yml

- name: Install Argo Apps
  ansible.builtin.include_tasks: argo-apps.yml
  when: ibm_quarkus_beginner_workshop_install_app_of_apps | bool


- name: Install Showroom
  ansible.builtin.include_tasks: showroom.yml

- name: Final workshop setup
  ansible.builtin.include_tasks: finally.yml

