kind: Secret
apiVersion: v1
metadata:
  name: {{ ibm_quarkus_beginner_workshop_argocd_manager_service_account }}-token
  namespace: kube-system
  annotations:
    kubernetes.io/service-account.name: {{ ibm_quarkus_beginner_workshop_argocd_manager_service_account }}
type: kubernetes.io/service-account-token    
