---
apiVersion: workspace.devfile.io/v1alpha2
kind: DevWorkspace
metadata:
  name: quarkus-beginners
  namespace: devspaces-kubeadmin
spec:
  contributions:
    - kubernetes:
        name: che-code-workspace
        namespace: devspaces-kubeadmin
      name: che-code-workspace
  routingClass: che
  started: true
  template:
    attributes:
      controller.devfile.io/storage-type: ephemeral
    components:
      - name: tools
        container:
          cpuRequest: 60m
          command:
            - /checode/entrypoint-volume.sh
          env:
            - name: CHE_DASHBOARD_URL
              value: 'https://devspaces.apps.itz-ypdw7k.hub04-lb.techzone.ibm.com'
            - name: CHE_PLUGIN_REGISTRY_URL
              value: >-
                https://devspaces.apps.itz-ypdw7k.hub04-lb.techzone.ibm.com/plugin-registry/v3
            - name: CHE_PLUGIN_REGISTRY_INTERNAL_URL
              value: 'http://plugin-registry.devspaces.svc:8080/v3'
            - name: OPENVSX_REGISTRY_URL
              value: 'https://open-vsx.org'
          memoryRequest: 512Mi
          sourceMapping: /projects
          cpuLimit: 1000m
          volumeMounts:
            - name: checode
              path: /checode
          memoryLimit: 2.07G
          image: quay.io/cloud-architecture-workshop/devspaces-image:0e90287
          endpoints:
            - attributes:
                contributed-by: che-code.eclipse.org
                cookiesAuthEnabled: true
                discoverable: false
                type: main
                urlRewriteSupported: true
              exposure: public
              name: che-code
              protocol: https
              secure: false
              targetPort: 3100
            - attributes:
                contributed-by: che-code.eclipse.org
                discoverable: false
                urlRewriteSupported: false
              exposure: public
              name: code-redirect-1
              protocol: http
              targetPort: 13131
            - attributes:
                contributed-by: che-code.eclipse.org
                discoverable: false
                urlRewriteSupported: false
              exposure: public
              name: code-redirect-2
              protocol: http
              targetPort: 13132
            - attributes:
                contributed-by: che-code.eclipse.org
                discoverable: false
                urlRewriteSupported: false
              exposure: public
              name: code-redirect-3
              protocol: http
              targetPort: 13133
    projects:
      - git:
          remotes:
            origin: >-
              https://github.com/learn-quarkus/ibm-quarkus-workshop-m1-labs.git
          checkoutFrom:
            revision: ocp-4.19
        name: workshop-devspaces
